@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");

.hero {
  height: 100vh;
  background-image: url("./assets/img/welcomer.JPG");
  background-size: cover;
  background-position: center center;
  font-family: "Oswald", sans-serif;
  overflow: hidden;

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
    width: 75%;
    margin: 0 auto;
    gap: 5rem;
  }

  a {
    text-decoration: none;
    &:hover {
      text-shadow: 1px 1px 2px pink;
    }
  }

  .link {
    background-color: black;
    padding: 5px 30px;
    border-radius: 30px;
    text-transform: uppercase;
  }

  .hero-text-1 {
    color: $colorPink;
    font-size: 3rem;
  }

  .hero-text-2 {
    color: $colorTeal;
    font-size: 3rem;
  }

  .hero-text-3 {
    color: white;
    font-size: 3rem;
  }
}
